DEBUG=True
SECRET_KEY=change-me-generate-with-django-get-random-secret-key
DATABASE_URL=postgres://troclegumes:troclegumes@db:5432/troclegumes
REDIS_URL=redis://redis:6379/0
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
